.m_color_dark {
    background-color: #191619;
    color: white;
}

.m_color_light {
    background-color: #7E7F83;
    color: #F3F3F4;
}

a:link, a:visited{
	color: #DDA0DD;
	background-color: transparent;
}

.noproblem{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
}

.legal{
    margin: auto; 
    text-align: center; 
    color: gray; 
}

.footer_img {
    width: 40%; 
    display: block; 
}